.todo-done-container {
    margin: 0 auto;
    padding: 20px;
    max-width: 700px;
    color: #333;
    font-family: 'Arial', sans-serif;
}

.todo-done-container h1 {
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    color: #2980b9;
}

.DoneItem {
    margin-bottom: 10px;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #fff;
}
