.done {
    text-decoration: line-through;
}

.todo-item {
    display: flex;
    justify-content: space-between;
    border: 1px solid #6d6666;
    padding: 10px;
    margin-bottom: 10px;
    text-align: left;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.todo-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.todo-content span {
    flex: 1;
}

.todo-content div {
    cursor: pointer;
}

.button-container {
    display: flex;
    gap: 10px;
}