.nav-list {
    padding-left: 10px;
    display: flex;
    justify-content: space-around;
}

.nav-section {
    background-color: darkcyan;
    margin: 0;
    width: 100%;
}

.nav-list {
    padding-left: 10px;
    display: flex;
    justify-content: space-around;
    list-style: none;
}

.nav-list li a {
    color: white;
    text-decoration: none;
}

.nav-list li a:hover {
    color: lightgray;
}